.footer{
  background-color: #3492D3;
  text-align: center;
  top: 50%;
  height: 10em;
}

.social-media{
  display: flex;
  justify-content: center;
  padding: 1em;
  height: auto;
}

.git{
  margin: 1em;
}

.linkin{
  margin: 1em;
}
