body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #3492D3 ;
}

.navbar:not(.top-nav-collapse) {
  background: #3492D3 ;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3492D3 ;
  }
}

.hero-image {
  display: flex;
  background-image: url("/images/hero-image-1.jpeg");
  background-size: cover;
  height: 900px;
  position: relative;
  text-align: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.about-1 {
  display: flex;
  justify-content: space-around;
  object-fit: contain;
}

.about-2{
  height: 50%;

}

.bgimage-2 {
  background-image: url("/images/IMG_0120.jpeg");
  background-size: cover;
  height: 500px;
  position: relative;
}

.masterResume{
  display: flex;
}

.resume-text{
  text-align: center;
}

.Education-image{
  justify-content: space-around;
  width: auto;
}

.Experience-image{
  justify-content: space-around;
  width: auto;
}

.HomeCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-button{
  align-items: center;
}
