body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #3492D3 ;
}

.navbar:not(.top-nav-collapse) {
  background: #3492D3 ;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3492D3 ;
  }
}

.hero-image {
  display: flex;
  background-image: url("/images/hero-image-1.jpeg");
  background-size: cover;
  height: 900px;
  position: relative;
  text-align: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.about {
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.about-master{
  display: flex;
  align-items: center;
  padding: 2em;
}

.about-image{
  float: left;
  width: 100%;
  height: auto;
  padding: 2em;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  border-style: solid;
  border-width: 2px;
  margin: 20px;
}

.about-text{
  height: 50%;
  justify-content:center;
  padding: 8em;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  border-style: solid;
  border-width: 2px;
  margin: 20px;
}

.bgimage-2 {
  background-image: url("/images/IMG_0120.jpeg");
  background-size: cover;
  height: 500px;
  position: relative;
}

.What-I-Do{
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.icons-1{
  padding: 3em;
  top: 50%;
  left: 15%;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
}

.icons-2{
  padding: 3em;
  top: 50%;
  left: 45%;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
}

.icons-3{
  padding: 3em;
  top: 50%;
  left:65%;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
}

.masterResume{
  display: flex;
}

.resume-text{
  text-align: center;
}

.Education-image{
  justify-content: space-around;
  width: 90%;
  height: auto;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  border-style: solid;
  border-width: 2px;
  padding: 5em;
  margin: 20px;
}

.Experience-image{
  justify-content: space-around;
  width: 90%;
  height: auto;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  border-style: solid;
  border-width: 2px;
  margin: 20px;
}

.HomeCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  border-style: solid;
  border-width: 2px;
  height: 400px;
  width: 600px;
  padding: 10em;
  margin: 20px;
}

.top-button{
  align-items: center;
}
